<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Windows.Apps.ExperimentationAndFlighting" version="201808.20002.0" targetFramework="native" />
  <package id="Microsoft.Windows.Apps.TraceLogging" version="1.0.5" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.190605.7" targetFramework="native" />
  <package id="Microsoft.Windows.Wil.Internal" version="0.2.33" targetFramework="native" />
</packages>